PushwooshUnitySample/Library
PushwooshUnitySample/Temp
PushwooshUnitySample.userprefs
*.csproj
*.sln
PushwooshUnitySample/build-ios
PushwooshUnitySample/build-android
PluginSource/Android/.idea
Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
PluginSource/Android/projectFilesBackup
PushwooshUnitySample/Assets/Plugins/Android/com.*.[ja]ar
PushwooshUnitySample/Assets/Plugins/Android/androidx.*.[ja]ar
PushwooshUnitySample/Assets/Plugins/Android/android.*.[ja]ar
PushwooshUnitySample/Assets/Plugins/Android/res/values/googleservices.xml
*.meta
.vs
obj
bin