PushwooshUnitySample/Library
PushwooshUnitySample/Temp
PushwooshUnitySample.userprefs
*.csproj
*.sln
PushwooshUnitySample/build-ios
PushwooshUnitySample/build-android
PluginSource/Android/.idea
Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
PluginSource/Android/projectFilesBackup
