<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pushwoosh.unityplugin">

    <uses-sdk android:minSdkVersion="9" />

    <application>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="PW_NOTIFICATION_RECEIVER" android:value="com.pushwoosh.unityplugin.IntentReceiver" />
        <receiver android:name="com.pushwoosh.unityplugin.IntentReceiver" />
    </application>>
</manifest>
