<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pushwoosh.unityplugin">
	
	<application android:allowBackup="true">
		
		<meta-data
			android:name="com.pushwoosh.notification_service_extension"
			android:value="com.pushwoosh.unityplugin.PushwooshNotificationServiceExtension" />
		
		<meta-data
			android:name="com.pushwoosh.internal.plugin_provider"
			android:value="com.pushwoosh.unityplugin.internal.UnityPluginProvider" />
	</application>
</manifest>
